// .card-img-top {
//     align-content: center;
//     height: 350px;
//     width: auto;
// }

.overlay{
    align-content: center;
}


.cardimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }