<div class="container">
  <div class="row">
      <br>
      <br>
    <div class="col-md-7 mb-3 toppart">
            <figure class="figure zoom topimage">
                <img src="{{post.images[0]}}" class="figure-img img-fluid z-depth-1"
                  alt="..." style="width: 80%">
              </figure>
    </div>
        <!--Card content-->
        <div class="col-md-5 mb-3">
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Title: 
            <span class="font-weight-bolder">{{post.title}}</span>
          </h4>
          <!--Text-->
          <p class="card-text">Content: 
              <span class="font-weight-bolder">"{{post.content}}"</span>
          </p>
          <hr>
          <p class="card-text">Price: "{{post.price}} $"</p>
          <hr>
          <p class="card-text">"Post by: {{post['createdBy']['username']}} created on {{post.createdOn | date}}"</p>
          <hr>
          <p class="card-text">Category: "{{post.category}}"</p>
          <hr>
          <p>User info and contact details: 
              <a [routerLink]="['/user', 'profile', post['createdBy']['_id']]" class="btn btn-md btn-default" color="dark-green">Go to info page 
                <i class="fas fa-edit ml-2"></i>
              </a>
          </p>
          <hr>
          <p class="card-text">Status: "{{post['status'] | uppercase}}"</p>
          <ng-template [ngIf]="isCreator">
            <a [routerLink]="['/post', 'edit', post._id]" class="btn btn-md btn-success" color="dark-green">Edit 
              <i class="fas fa-edit ml-2"></i>
            </a>
          </ng-template>
            <ng-template [ngIf]="isCreatorOrAdmin">
            <a [routerLink]="['/post', 'delete', post._id, post.title.trim()]" class="btn btn-md btn-success" color="dark-green">Delete
              <i class="fas fa-archive ml-2"></i>
            </a>
          </ng-template>
        </div>
      </div>
    </div>
        <app-comment-create (onCreateComment)="loadComments()" [postId]="post._id" [postCreatorId]="post['createdBy']['_id']" >
      </app-comment-create>
        <hr>
        <ol >
          <li *ngFor="let comm of comments">  |
              <mdb-card class="col-md-9">
                  <mdb-card-body >
                    <mdb-card-title>
                      <h5>"{{comm.content}}"</h5>
                    </mdb-card-title>
                    <mdb-card-text>
                      <span> Comment by: {{comm.creatorUsername}}  created on: {{comm.createdOn | date}}</span>
                      >
                    <span class="flex-row">
                        <ng-template [ngIf]="isAdmin || comm.creatorUsername === username">
                        <button (click)="deleteComment(comm['_id'])" class="btn btn-small btn-light" color="dark-green">Delete
                          <i class="fas fa-archive ml-2"></i>
                        </button>
                      </ng-template>
                      </span>
                      </mdb-card-text>
                  </mdb-card-body>
                </mdb-card>
          </li>
        </ol>
</div>


        