<div class="container">
  <div class="row">
      <br>
      <br>
    <div class="col-md-8 mb-3 toppart">
            <figure class="figure zoom topimage">
                <img src="{{post.images[0]}}" class="figure-img img-fluid z-depth-1"
                  alt="..." style="width: 80%">
              </figure>
    </div>
        <!--Card content-->
        <div class="col-md-4 mb-3">
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Title: {{post.title}}</h4>
          <!--Text-->
          <p class="card-text">Content: "{{post.content}}"</p>
          <hr>
          <p class="card-text">Price: "{{post['price']}} $"</p>
          <hr>
          <p class="card-text">"Post by: {{post['createdBy']['username']}} created on {{post.createdOn | date}}"</p>
          <hr>
          <p class="card-text">"Category: {{post.category}}"</p>
          <ng-template [ngIf]="isCreator">
            <a [routerLink]="['/post', 'edit', post._id]" class="btn btn-md btn-success" color="dark-green">Edit 
              <i class="fas fa-edit ml-2"></i>
            </a>
            <a [routerLink]="['/post', 'delete', post._id]" class="btn btn-md btn-success" color="dark-green">Delete
              <i class="fas fa-archive ml-2"></i>
            </a>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="md-form col-md-10">
          <i class="fas fa-pencil-alt prefix"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" mdbInput></textarea>
          <label for="form8">Comment: </label>
        </div>
    </div>
</div>


        