.details{
    background-color: #eceff1;
    padding-top: 5%;
}

.toppart{
    padding-top: 3%;
    margin-top: 3%;
}

// .toppimage{
//     padding-top: 5%;
//     margin-top: 5%;
//     padding-bottom: 5%;
//     margin-bottom: 5%;
// }