<div class="container postlist">
  <div class="row justify-content-center">
    <div class="col text-center" id="topOfPage">
      <div>
        <!--Search-form-->
        <app-search class="col-md-4" (onSearch)="searchPosts($event)" [term]="term" [cat]="categoryP"></app-search>

      </div>
      <div>
        <!--Filter by category-->
        <ng-template [ngIf]="isPostsInCat && categoryP !== 'all'">
          <div class="justify-content-center">
              <h6 class="text-center text-success">Filter by category: "{{categoryP}}"" </h6>
          </div>
        </ng-template>
        <app-filter-category (onFilter)="filter($event)" [cat]="categoryP"></app-filter-category>

      </div>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center">
    <ng-template [ngIf]="!isPostsInCat && term !== ''">
        <div class="row"><h6 class="col-md-12">No match found! Go to <span><button class="btn btn-light btn-sm"
          (click)="filter('all')">All posts</button></span> or search another entry!</h6></div>
    </ng-template>
    <ng-template [ngIf]="!isPostsInCat && categoryP !== 'all'">
      <div class="row"><h6 class="col-md-12">No posts in [{{categoryP}}] category! Go to <span><button class="btn btn-light btn-sm"
        (click)="filter('all')">All posts</button></span></h6></div>
    </ng-template>
  </div>
  <div class="text-center row">
    <!--Post-cards-->
    <div class="col-md-4 mb-3" *ngFor="let p of pagedItems">
    <app-card-info [post]="p"></app-card-info>

    </div>
  </div>
  <div class="text-center row">
    <!--Pagination-->
    <ng-template [ngIf]="pager.totalPages > 1">
      <nav  class="d-flex justify-content-center wow fadeIn">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pg-dark">

            <li  [ngClass]="{disabled:pager.currentPage === 1}" class="page-item disabled">
                <a (click)="setPage(1)" class="page-link" aria-label="First">
                  <span aria-hidden="true">First</span>
                  <span class="sr-only">First</span>
                </a>
              </li>

          <li  [ngClass]="{disabled:pager.currentPage === 1}" class="page-item disabled">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item active">
            <a (click)="setPage(page)" class="page-link">{{page}}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a (click)="setPage(pager.totalPages)" class="page-link" aria-label="Last">
                <span aria-hidden="true">Last</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
        </ul>
      </nav>
    </ng-template>
  </div>
</div>
