<div class="container postlist">
    <!--Section: Cards-->
    <div class="row justify-content-center">

      <div class="col text-center" id="topOfPage">
              <!-- <h4>All posts on market:</h4> -->
              <div><app-search class="col-md-4" (onSearch)="searchPosts($event)" [term]="term"></app-search></div>
              <div>
                <ng-template [ngIf]="isPostsInCat && categoryP !== 'all'">
                  <div>
                      <p>Filter by category: {{categoryP}} </p>

                  </div>
                </ng-template>
                
                <app-filter-category (onFilter)="filter($event)" [cat]="categoryP"></app-filter-category>
              </div>
              <hr>
      </div>
    </div>
    <section class="text-center row">
      <div class="row">
       <div class="col-md-4 mb-3" *ngFor="let p of pagedItems">
          <app-card-info [post]="p"></app-card-info>
    
            </div>
          </div>
          <ng-template [ngIf]="!isPostsInCat && categoryP !== 'all'">
              <div>
                  <p>No posts in this category! Click "All"!</p>

              </div>
            </ng-template>
  

      <!--Pagination-->
      <ng-template [ngIf]="pager.totalPages > 1">
      <div class="row">
      <nav  class="d-flex justify-content-center wow fadeIn">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pg-dark">

            <li  [ngClass]="{disabled:pager.currentPage === 1}" class="page-item disabled">
                <a (click)="setPage(1)" class="page-link" aria-label="First">
                  <span aria-hidden="true">First</span>
                  <span class="sr-only">First</span>
                </a>
              </li>

          <!--Arrow left-->
          <li  [ngClass]="{disabled:pager.currentPage === 1}" class="page-item disabled">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item active">
            <a (click)="setPage(page)" class="page-link">{{page}}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a (click)="setPage(pager.totalPages)" class="page-link" aria-label="Last">
                <span aria-hidden="true">Last</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
        </ul>
      </nav>
    </div>
  </ng-template>
    </section>
    <!--Section: Cards-->

  </div>