<ul class="nav nav-tabs  justify-content-center">
  <li class="nav-item">
    <a class="nav-link {{activeAll}}" (click)="filter('all')">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{activeClothes}}" (click)="filter('clothes')">Clothes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{activeToys}}" (click)="filter('toys')">Toys</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{activeShoes}}" (click)="filter('shoes')">Shoes</a>
  </li>
  <li class="nav-item">
      <a class="nav-link {{activeHome}}" (click)="filter('home')">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{activeOutdoor}}" (click)="filter('outdoor')">Outdoor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{activeAccess}}" (click)="filter('accessories')">Accessories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{activeBooks}}" (click)="filter('books')">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{activeOther}}" (click)="filter('other')">Other</a>
    </li>
</ul>
                 