<div id="home" style="text-align:center">
  <ng-template [ngIf]="isLoggedIn">
    <div class="card transp">

      <h3 class="text-black card-title">
        Hello, {{username}}!
      </h3>
    </div>
  </ng-template>
  
    <div style="height:60vh">
      <div class="flex-center flex-column">

            <h1 class="text-black mb-4 font-weight-bolder">Welcome to the</h1>
            <h1 class=" text-black mb-4 font-weight-bolder">thrifting zone!</h1>
    
        <ng-template [ngIf]="isLoggedIn">
            <button type="button" class="btn btn-md default-color-dark text-white" routerLink="/post/all" mdbWavesEffect >Go To Market</button>
          </ng-template>
          <ng-template [ngIf]="!isLoggedIn">
              <h5 class="text-white deep-orange-lighter-hover mb-3">Log in to view details pages.</h5>
        <div>
          <button type="button" class="btn btn-md default-color-dark text-white" color="blue-grey" routerLink="/auth/login" mdbWavesEffect >Log in</button>
          <button type="button" class="btn btn-md default-color-dark text-white" routerLink="/auth/register" mdbWavesEffect>Sign Up</button>
        </div>
            </ng-template>
      </div>
    </div>
  </div>