#home{
    background-image: url("../../shared-images/cuddly-toy-handwriting-lonely-165263.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    min-width: 100%;
    padding-top: 4%;
}

.sample{
    text-decoration-color: yellow;
    text-shadow: 10px;
}