<div class="container">
  <div class="row userlist">
      <table class="table table-hover table-striped table-responsive-md btn-table" mdbTable responsive="true" hover="true">
          <thead class="black white-text">
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let user of users; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{user.username}}</td>
              <td>{{user._id}}</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phoneNumber}}</td>
              <td>{{user['isBlocked'].toString() | uppercase}}</td>
              <td><button type="button" class="btn default-color-dark white-text btn-sm m-0" routerLink="/user/profile/{{user._id}}">Profile Page</button></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>