<div class="row notfound" >
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- Card -->
 
<div class="card card-image mb-3" >

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        
        <h3 class="card-title pt-2"><strong>This page cannot be found!</strong></h3>
        <a mdbBtn color="teal" class="waves-light" mdbWavesEffect routerLink="/"><i class="far fa-clone left"></i> Go Home, Mama!</a>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->
    </div>
 
</div>

