<div class="container notfound" >
  <div style="height:45vh">
    <div class="flex-center flex-column">
      <mdb-card>
        <mdb-card-body class="text-center teal">
          <mdb-card-text>
            <h5 class="text-white">This page cannot be found!</h5>
          </mdb-card-text>
          <div class="flex-row">
            <a [routerLink]="['/home']" class="btn btn-md default-color-dark text-white">Go home, Mama! 
              <i class="fas fa-cat ml-2"></i>
            </a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
 

