.notfound{
    background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg); min-height: 50%; 
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    padding-top: 10%;
    align-content: center;
    padding-bottom: 10%;
}