<div class="container userprofile">
  <div class="row">
      <div class="col-md-3 mb-3 profile">
    
    <!--Card-->
    <h5>User info:</h5>
      <hr>
    <div class="card align-items-center custom">

        <!--Card image-->
        <div class="view overlay">
          <img src="{{user.avatar}}" class="card-img-top cardimage" alt="">
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h5 class="card-title">Username: {{user.username}}</h5>
          <p class="card-title">Email: {{user.email}}</p>
          <!--Text-->
          <p class="card-text">Full Name: {{user.firstName}} {{user.lastName}}</p>
          <p class="card-text">Phone number: {{user.phoneNumber}}</p>
          <p class="card-text">Posts count: {{user['posts'].length}}</p>
          <ng-template [ngIf]="isAdmin">
            <hr>
            <button type="button" (click)="blockUnblockUser()" class="btn btn-danger btn-sm m-0" routerLink="/user/profile/{{user._id}}">{{blockUnblock}}</button>
          </ng-template>
          <hr>
          <p class="card-text">User status: {{activeStatus}}</p>
        </div>
  
      </div>
    </div>
    <div class="col-md-9 xs-12 postscol">
      <h5>User's posts:</h5>
      <hr>
        <div class="row">
          <ng-template [ngIf]="ifNotPosts">
            <h4 class="noposts">No posts added for this user.</h4>
          </ng-template>
    <div class="col-md-4 xs-12" *ngFor="let p of user['posts']">
      <app-card-info [post]="p"></app-card-info>
    </div>
  </div>
    </div>
  </div>
</div>