<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark default-color-dark" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand ml-4" routerLink="/">Do Some Thrifting, Mama!</a>
  </mdb-navbar-brand>
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto ml-4">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/post/all">Posts<span class="sr-only">(current)</span></a>
        </li>
      <ng-template [ngIf]="isLoggedIn">
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/post/create">Add Post</a>
        </li>
        <ng-template [ngIf]="isAdmin">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" routerLink="/user/all" mdbWavesEffect>Users<span class="sr-only">(current)</span></a>
          </li>
        </ng-template>   
      </ng-template>
      </ul>
    <!-- Links -->
    <ul class="navbar-nav ml-auto mr-4">
      <ng-template [ngIf]="!isLoggedIn">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" routerLink="/auth/login" mdbWavesEffect>Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" routerLink="/auth/register"  mdbWavesEffect>Register</a>
        </li>
      </ng-template> 
      <ng-template [ngIf]="isLoggedIn">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" routerLink="/user/profile/{{userId}}" mdbWavesEffect>Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" (click)="logout()" mdbWavesEffect><mdb-icon fas icon="sign-out-alt"></mdb-icon>Logout</a>
        </li>
      </ng-template>   
    </ul>
  </links>
</mdb-navbar>
