    <!--Card-->
    <div class="card custom col-md-12 xs-12">

        <!--Card image-->
        <div class="view overlay">
          <img src="{{post.images[0]}}" class="card-img-top cardimage" alt="">
          <a [routerLink]="['/post', 'details', post._id]">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{post.title}}</h4>
          <!--Text-->
          <p class="card-text">Push messaging provides a simple and effective way to re-engage with your users
            and in this
            tutorial you'll learn how to add push notifications to your web app</p>
            <a [routerLink]="['/post', 'details', post._id]" class="btn btn-md btn-success" color="dark-green">View more...
              <i class="fas fa-play ml-2"></i>
            </a>
            <ng-template [ngIf]="username === post.createdBy['username']">
            <a [routerLink]="['/post', 'edit', post._id]" class="btn btn-md btn-success" color="dark-green">Edit Post
              <i class="fas fa-play ml-2"></i>
            </a>
          </ng-template>
            
        </div>
  
      </div>
      <!--/.Card-->
  
  
