    <!--Card-->
    <div class="card custom col-md-12 xs-12">

        <!--Card image-->
        <div class="view overlay">
          <img src="{{post.images[0]}}" class="card-img-top cardimage" alt="">
          <a [routerLink]="['/post', 'details', post._id]">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title">{{post.title}}</h4>
          <!--Text-->
          <p class="card-text">{{post.content | slice : 0 : 60}}...</p>
          <p class="card-text">{{post.createdOn | date}}...</p>
          <p class="card-text">{{post.price | currency: 'EUR'}}</p>
          <div class="float-left col-md-12 pt-3 pl-2">
              <hr>
              <a class="green-text">
                <i class=" far fa-thumbs-up pr-1" ></i>{{ post['stars'].length}}
              </a>
              <a class="light-blue-text ml-3">
                <i class="far fa-comments pr-1"></i>{{ post['comments'].length }}
              </a>
            </div>
            <a [routerLink]="['/post', 'details', post._id]" class="btn btn-md default-color-dark text-white" color="dark-green">View more...
              <i class="fas fa-play ml-2"></i>
            </a>
            <ng-template [ngIf]="username === post.createdBy['username']">
            <a [routerLink]="['/post', 'edit', post._id]" class="btn btn-md default-color-dark text-white" color="dark-green">Edit Post
              <i class="fas fa-play ml-2"></i>
            </a>
          </ng-template>
            
        </div>
  
      </div>
      <!--/.Card-->
  
  
