<footer class="page-footer font-small default-color-dark pt-4">
  <div class="container-fluid text-center text-md-center">
    <div class="row">
      <div class="col-md-12 mt-md-0 mt-6">
        <p>Here you can sell and buy second hand products from family to family. Reuse, recycle, reduce, enjoy!</p>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/DannyBerova/do-some-thrifting"> Danny Berova</a>
  </div>
</footer>
